body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

.header h1 {
    text-shadow: 2px 2px #c6c6c6;
}

.nav {
    width: 100%;
}

.nav a:hover {
    text-decoration: underline;
}

.navColor {
    background-image: linear-gradient(to right, #0027d3, #b3cae4);
}

.navbar {
    box-shadow: none !important;
    /* transition: top 0.5s; */
}

.hidden {
    transform: translateY(-100%);
    transition: 0.5s;
}

.nav-container:hover .navbar {
    transform: translateY(0);
    transition: .5s;
}

.left {
    margin-left: auto;
}

.page-header:before {
    background-color: transparent !important;
}

/* .page-header {
    background-repeat: no-repeat;
    background-size: contain;
} */

.page-header-image {
    /* background-image: url(./imgs/undraw_web_developer_p3e5.svg); */
    background-image: url(./imgs/IMG_0226.jpg);
    background-size: contain !important;
    background-repeat: no-repeat;
    background-color: transparent !important;
}

.img-container {
    display: flex;
    justify-content: center;
}

.headshot {
    height: 120px;
    width: auto;
    border: 1px solid #c6c6c6;
}
